.navlogo{
    animation: rotation 35s infinite linear;
    background-color: transparent;
    position: absolute;
    top: 2;
    left: 0;
      }

#navbarNav{
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 200;
    background-color: rgb(209, 209, 209) ;
    border-radius: 60px;
}