.navlogo{
    animation: rotation 35s infinite linear;
    background-color: transparent;
    position: absolute;
    top: 2;
    left: 0;
      }

nav a:hover, footer a:focus {
  color: #aaa;
text-shadow:  1px 1px 22px  rgb(92, 92, 92);}

#navbarNav{
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 200;
    background-color: rgb(231, 231, 231) ;
    border-radius: 30px;
    padding: 6px;
    box-shadow: grey 3px 3px 20px 1px;
    }

    @media (max-width: 990px) {
      #navbarNav{
        border-radius: 10px;
        background-color: rgb(205, 231, 231, 0.9);
        padding: 13px;
      }
      .navlogo{
        position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
      }
    }
