.landing{
    position: relative;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
 

.landinglogo {
    animation: rotation 10s infinite linear;

height: 50rem;
animation-timing-function: ease-in-out;

}

@media (max-width: 1000px) {
    .landinglogo {
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
}
