.notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
  }

  .notfound a{
    text-decoration: none;
    color: black;
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
  }

  .notfound img{
    width: 90%;
    height: auto;
  }
