.product-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.product-img {
    width: auto;
    height: 70%;
    }

    @media (max-width: 600px) {
        .product-img {
            width: 100%;
            height:auto
        }
    }