  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500;600;700&family=Oldenburg&display=swap');

  * {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    /* font-size: 1.1rem; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Kanit", sans-serif;
  }

  /* custom scrollbar */
    /* width */
::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdede;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #700303;
  border-radius: 20px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #353738;
}

  body {
    background-color: #dfdede;
    min-height: 100vh;
    padding-bottom: 60px;
    background-image: url("./assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(6px);
  }

  .section{
    background-color:rgba(150, 150, 150, 0.6);
    padding: 1rem 1rem;
    /* min-height: 100vh; */
    border-radius: 40px;
    box-shadow: 0px 2px 12px 4px rgb(88, 88, 88);
  }

  .section-heading{
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(180, 3, 17);
    text-decoration-thickness: 3px;
    text-underline-offset: 07px;
    font-size: 3rem;
  }

  .landinglogo {
    animation: rotation 10s infinite linear;
  }

  @keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
    }

    25% {
      -webkit-transform: rotate(15deg);
    }

    50% {
      -webkit-transform: rotate(0deg);
    }

    75% {
      -webkit-transform: rotate(-15deg);
    }

    100% {
      -webkit-transform: rotate(0deg);
    }

  }

  /* for smaller screens */
  @media (max-width: 1000px) {
    .landinglogo {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }

    body {
      background-size: 100%;
      backdrop-filter: blur(4px);
    }
  }

  /* for smaller screens */
  @media (max-width: 600px) {
    .section-heading{
      font-size: 2rem;
          }
  }

